extends ../../layout/courses_template_online.pug

block variables
    -var online = true;
    -var courses = 'active';

    -var courseName = 'frontend';
    //- Контент
    //- Тип курса
    -var courseType = 'Онлайн курс';
    //- Заголовок
    -var courseTitle = 'Разработка сайтов: HTML, CSS, jQuery';
    //- Подзаголовок
    -var courseSub = 'Научитесь front-end разработке сайтов с нуля за 3 месяца';
    //- Краткое описание
    -var courseDescription = 'Вы научитесь визуализировать дизайн в вебе, создавать веб-страницы, лендинги; получите основы всех аспектов веб-разработки: узнаете что такое HTML и CSS, как создаётся интерактивность, как делается анимация и эффекты, как разрабатываются сайты для телефонов и планшетов. А главное, получите опытных наставников на длительное время.';
    //- Изображение курса
    -var courseImg = '/img/front.png';

    //- Дата и время старта
    //- Дата
    -var courseDate = '4 ноября 2019';
    //- Продолжительность
    -var courseDurationMonth = 3;
    -var courseDuration = '3 месяца, 24 занятия по 2 часа';
    //- Время занятий
    -var courseTime = 'понедельникам и четвергам с 18 до 20 ч (время московское)';

    //- Стоимость курса
    //- Стоимость до даты
    -var coursePromoDate = '10 октября';
    -var coursePromoPercent = 1;
    //- В рассрочку
    -var courseSemiPrice = '7 100';
    //- Единым платежом
    -var courseBasePrice = 10800;
    -var courseStandartPrice = 16500;
    -var courseProPrice = 21900;

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/iea79.png';
    //- Имя
    -var courseCoachName = 'Евгений Иванов';
    //- Регалии
    -var courseCoachExp = 'Руководитель школы Grampus,<br> Front-end разработчик, Топ 20 по специализации "верстка сайтов" <br>на крупнейшей бирже фрилансеров рунета - fl.ru <br> Опыт в профессии с 2010 года.';

    //- Заработок после обучения
    -var earningTop = '<b class="text_primary">Ежемесячно</b> на биржах труда в России появляется <b class="text_success">свыше 9 000 новых вакансий</b> связанных с html, css, javascript. <br>Работы хватает всем!';
    -var earningSumm = '55 000';
    -var earningProf = 'зарплата начинающего разработчика';
    -var earningLink = 'https://perm.hh.ru/search/vacancy?only_with_salary=false&clusters=true&enable_snippets=true&salary=&st=searchVacancy&text=Html';

    //- Кому подойдет курс
    -var anyone = [{title: 'Новичкам', text: 'Вы можете начать курс с нулевыми знаниями в разработке и необходимых программах. Проведем по шагам от установки программ, до первого сайта'}, {title: 'Начинающим верстальщикам', text: 'Прокачаем ваши знания в html, css, js/jQuery. Препроцессоры, шаблонизаторы, сниппеты, CMS, банк ресурсов, знания для поиска заказчиков. И все это под руководством опытного преподавателя.'}, {title: 'Вэб-дизайнерам', text: 'Если вы давно хотели расширить свои возможности, то после прохождения программы вы получите знания, которые позволят вам дополнительно монетизировать свои творческий потенциал'}];

    //- Как проходит обучение
    -var progress = [{title: 'Занятия онлайн', text: 'Проходят в формате вэбинаров с прямым общением. На каждом Вы будете узнавать что-то новое и сразу можете получать обратную связь от преподавателя.'}, {title: 'Домашние задания', text: 'Если вы думаете что 4 часа занятий в неделю мало, то поверьте - это не так )'}, {title: 'Общение', text: 'Постоянное общение с преподавателем и сокурсниками в общем чате потока во время и даже после окончания курса.'}, {title: 'Ваше портфолио', text: 'По окончании курса у вас появится базовое портфолио из минимум 2-х созданных проектов в зависимости от выбранного тарифа'}];

    //- Программа
    -var programList = [{title: "Блок 1. Основы", list: ["Технологии разработки сайтов, Назначение серверной части (бекенд), Назначение клиентской части (фронтенд), основы HTML, CSS, Javascript"]},{title: "Блок 2. Настройка рабочего окружения для скоростной верстки сайтов",list: ["Текстовый редактор, Плагины, Cниппеты, Препроцессоры, Шаблонизаторы, Программы для работы с макетами, Программы для запуска сайта на компьютере"]},{title: "Блок 3. Настройка сайта",	list: ["Хостинг и домены, Работа сайта, Настройка Домена и Хостинга, Связка с файлами на вашем компьютере, Настройки при удаленной работе."]},{title: "Блок 4. HTML, HTML5", list: ["Назначение языка HTML, Структура HTML, HTML тэги, HTML шаблоны, Видео и аудио в HTML, HTML формы, Шаблонизатор PUG"]},{title: "Блок 5. Стили", list: ["CSS, Назначение языка CSS, Связь CSS + HTML, Препроцессоры SASS LESS, Текст и шрифт, Блочные и строчные элементы в CSS, CSS-анимации и эффекты"]},{title: "Блок 6. Javascript", list: ["Основы Javascript, jQuery, Подключение jQuery плагинов, Написание jQuery скриптов, ajax запросы на сервер без обновления страницы, Онлайн калькулятор, Формы обратной связи, Валидация данных в формах"]},{title: "Блок 7. PHP", list: ["Назначение языка PHP, Обработка форм обратной связи, CMS и CRM что это и зачем, Работа с версткой внутри програмных языков, Wordpress - 'натяжка' верстки"]},{title: "Блок 8. Стандарт командной работы", list: ["Командная работа над проектом, Контроль версий - Git, Сервис GitHub"]},{title: "Блок 9. Работа фрилансера", list: ["Выбор ниши (специализации), Самые прибыльные сервисы для поиска клиентов, Создание профиля, Отклики на проекты, Общение с заказчиками, Как попасть в топ по своей специализации"]}];

    //- Формы
    -var vidgetId = 'AsDVOm6MVXPDtIkI69ARgkwfvyCnrYwlgI';
    -var formId = 'SiteWidgetMoyklass19234';
