extends ../../layout/courses_template.jade

block variables
    -var online = true;
    -var courses = 'active';

    -var courseName = 'frontend';
    //- Контент
    //- Тип курса
    -var courseType = 'Онлайн курс';
    //- Заголовок
    -var courseTitle = 'Разработка сайтов: HTML, CSS, jQuery';
    //- Подзаголовок
    -var courseSub = 'Научитесь front-end разработке сайтов с нуля за 3 месяца';
    //- Краткое описание
    -var courseDescription = 'Вы научитесь визуализировать дизайн в вебе, создавать веб-страницы, лендинги; получите основы всех аспектов веб-разработки: узнаете что такое HTML и CSS, как создаётся интерактивность, как делается анимация и эффекты, как разрабатываются сайты для телефонов и планшетов. А главное, получите опытных наставников на длительное время.';
    //- Изображение курса
    -var courseImg = '/img/front.png';


    //- Дата и время старта
    //- Дата
    -var courseDate = '15 июля 2019';
    //- Продолжительность
    -var courseDuration = '3 месяца, 24 занятия по 2 часа';
    //- Время занятий
    -var courseTime = 'понедельникам и четвергам с 19 до 21 ч (время московское)';

    //- Стоимость курса
    //- Стоимость до даты
    -var coursePromoDate = '24 июня';
    //- В рассрочку
    -var courseSemiPrice = '7 100';
    //- Единым платежом
    -var courseBasePrice = '1500';
    -var courseStandartPrice = '17900';
    -var courseProPrice = '23800';

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/iea79.png';
    //- Имя
    -var courseCoachName = 'Евгений Иванов';
    //- Регалии
    -var courseCoachExp = 'Руководитель школы Grampus,<br> Front-end разработчик, Топ 20 по специализации "верстка сайтов" <br>на крупнейшей бирже фрилансеров рунета - fl.ru <br> Опыт в профессии с 2010 года.';

    //- Программа
    -var programList = [{title: "Блок 1. Основы", list: ["Технологии разработки сайтов, Назначение серверной части (бекенд), Назначение клиентской части (фронтенд)"]},{title: "Блок 2. Настройка рабочего окружения для скоростной верстки сайтов",list: ["Текстовый редактор, Плагины, сниппеты, Программы для работы с макетами, Программы для запуска сайта на компьютере"]},{title: "Блок 3. Настройка сайта",	list: ["Хостинг и домены, Работа сайта, Настройка Домена и Хостинга, Связка с файлами на вашем компьютере, Настройки при удаленной работе."]},{title: "Блок 4. HTML, HTML5", list: ["Назначение языка HTML, Структура HTML, HTML тэги, HTML шаблоны и шаблонизаторы, Видео и аудио в HTML, HTML формы"]},{title: "Блок 5. Стили", list: ["CSS, CSS3, Назначение языка CSS, Связь CSS + HTML, Препроцессоры, Текст и шрифт, Илочные и строчные элементы в CSS, CSS-анимации и эффекты"]},{title: "Блок 6. jQuery - библиотека языка JS", list: ["jQuery - библиотека языка JS, Подключение jQuery плагинов, Написание jQuery скриптов, ajax запросы на сервер без обновления страницы, Онлайн калькулятор, Формы обратной связи, Валидация данных в формах"]},{title: "Блок 7. Стандарт командной работы", list: ["Командная работа над проектом, Контроль версий - Git, Сервис GitHub"]},{title: "Блок 8. Работа фрилансера", list: ["Выбор ниши (специализации), Самые прибыльные сервисы для поиска клиентов, Создание профиля, Отклики на проекты, Общение с заказчиками, Как попасть в топ по своей специализации"]}];

    //- Формы
    -var vidgetId = 'AsDVOm6MVXPDtIkI69ARgkwfvyCnrYwlgI';
    -var formId = 'SiteWidgetMoyklass19234';
