extends ../layout/courses_template.jade

block variables
    -var courses = 'active';

    -var courseName = 'frontend';
    //- Контент
    //- Тип курса
    -var courseType = 'Очный курс';
    //- Заголовок
    -var courseTitle = 'Разработка сайтов: HTML, CSS, jQuery';
    //- Подзаголовок
    -var courseSub = 'Научитесь front-end разработке сайтов с нуля за 2,5 месяца';
    //- Краткое описание
    -var courseDescription = 'Вы научитесь визуализировать дизайн в вебе, создавать веб-страницы, лендинги; получите основы всех аспектов веб-разработки: узнаете что такое вёрстка, как создаётся интерактивность, как делается анимация и эффекты, как разрабатываются сайты для телефонов и планшетов. А главное получите опытных наставников на длительное время...';
    //- Изображение курса
    -var courseImg = '/img/front.png';


    //- Дата и время старта
    //- Дата
    -var courseDate = '2019';
    //- Продолжительность
    -var courseDurationMonth = 2.5;
    -var courseDuration = '2,5 месяца, 22 занятия по 2 часа';
    //- Время занятий
    -var courseTime = 'пятницам и воскресеньям с 19 до 21 ч';

    //- Стоимость курса
    //- Стоимость до даты
    -var coursePromoDate = false;
    //- В рассрочку
    -var courseSemiPrice = true;
    //- Единым платежом
    -var courseTotalPrice = '15800';

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/nikita.jpg';
    //- Имя
    -var courseCoachName = 'Никита Боднар';
    //- Регалии
    -var courseCoachExp = 'Front-end разработчик, Топ 100 на fl.ru <br> Опыт работы 4 года.';

    //- Программа
    -var programList = [{title: "Блок 1. Основы", list: ["Технологии разработки сайтов, Назначение серверной части (бекенд), Назначение клиентской части (фронтенд)"]},{title: "Блок 2. Настройка рабочего окружения для скоростной верстки сайтов",list: ["Текстовый редактор, Плагины, сниппеты, Программы для работы с макетами, Программы для запуска сайта на компьютере"]},{title: "Блок 3. Настройка сайта",	list: ["Хостинг и домены, Работа сайта, Настройка Домена и Хостинга"]},{title: "Блок 4. HTML, HTML5", list: ["Назначение языка HTML, Структура HTML, HTML тэги, HTML шаблоны, Видео и аудио в HTML, HTML формы"]},{title: "Блок 5. Стили", list: ["CSS, CSS3, Назначение языка CSS, Связь CSS + HTML, Препроцессоры LESS и SASS(SCSS), Текст и шрифт, CSS-анимации и эффекты"]},{title: "Блок 6. jQuery - библиотека языка JS", list: ["jQuery - библиотека языка JS, Подключение jQuery плагинов, Написание jQuery скриптов, ajax запросы на сервер без обновления страницы, Онлайн калькулятор, Формы обратной связи, Валидация данных в формах"]},{title: "Блок 7. Стандарт командной работы", list: ["Командная работа над проектом, Контроль версий - Git, Сервис GitHub"]},{title: "Блок 8. Работа фрилансера", list: ["Выбор ниши (специализации), Самые прибыльные сервисы для поиска клиентов, Создание профиля, Отклики на проекты, Общение с заказчиками, Как попасть в топ по своей специализации"]}];

    //- Формы
    -var vidgetId = 'aIyd6KbX0t2tBphBLq7OCAH4h6dKzwJIdE';
    -var formId = 'WdgMoyklassForm3335';
