extends ../layout/pay_template.jade

block variables
    -var pageClass = "";
    -var name = 'Спасибо! Ваша оплата успешно произведена.';

block content
    h1.title.title__page
        .title__page_name= name
        .title__page_line
