// Social link
.soc {
	a {
		display: inline-block;
		text-decoration: none;
		font-size: 1.6em;
		vertical-align: middle;
		margin: 4px 8px;
		color: $color_withe;
		@include trs(0.3s);
		&:hover {
			transform: scale(1.1);
			color: $color_info;
		}
	}
	.icon-phone {
		font-size: 1.1em;
	}
}
