@font-face {
    font-family: 'grampus';
    src: url("../fonts/grampus.ttf?ele11lg") format('truetype'), url("../fonts/grampus.woff?ele6lg") format('woff'), url("../fonts/grampus.svg?ele6.1lg#grampus") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'grampus' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star-half-empty:before {
    content: "\e900";
}

.icon-star-half-full:before {
    content: "\e900";
}

.icon-star-half-o:before {
    content: "\e900";
}

.icon-star-o:before {
    content: "\e901";
}

.icon-star-half:before {
    content: "\e902";
}

.icon-star:before {
    content: "\e903";
}

.icon-addthis:before {
    content: "\e904";
}

.icon-adobeaftereffects:before {
    content: "\e905";
}

.icon-adobeillustrator:before {
    content: "\e906";
}

.icon-adobephotoshop:before {
    content: "\e907";
}

.icon-americanexpress:before {
    content: "\e908";
}

.icon-css3:before {
    content: "\e909";
}

.icon-dropbox:before {
    content: "\e90a";
}

.icon-facebook:before {
    content: "\e90b";
}

.icon-flickr:before {
    content: "\e90c";
}

.icon-github:before {
    content: "\e90d";
}

.icon-google:before {
    content: "\e90e";
}

.icon-googlehangouts:before {
    content: "\e90f";
}

.icon-googleplus:before {
    content: "\e910";
}

.icon-html5:before {
    content: "\e911";
}

.icon-instagram:before {
    content: "\e912";
}

.icon-linkedin:before {
    content: "\e913";
}

.icon-minutemailer:before {
    content: "\e914";
}

.icon-odnoklassniki:before {
    content: "\e915";
}

.icon-pinterest:before {
    content: "\e916";
}

.icon-plurk:before {
    content: "\e917";
}

.icon-processwire:before {
    content: "\e918";
}

.icon-producthunt:before {
    content: "\e919";
}

.icon-skype:before {
    content: "\e91a";
}

.icon-sublimetext:before {
    content: "\e91b";
}

.icon-telegram:before {
    content: "\e91c";
}

.icon-twitter:before {
    content: "\e91d";
}

.icon-viber:before {
    content: "\e91e";
}

.icon-visa:before {
    content: "\e91f";
}

.icon-vk:before {
    content: "\e920";
}

.icon-yandex:before {
    content: "\e921";
}

.icon-youtube:before {
    content: "\e922";
}

.icon-uniE923:before {
    content: "\e923";
}

.icon-uniE924:before {
    content: "\e924";
}

.icon-uniE925:before {
    content: "\e925";
}

.icon-phone:before {
    content: "\e926";
}

.icon-twitter-inverse:before {
    content: "\e927";
}

.icon-phone-call:before {
    content: "\e928";
}

.icon-vk-circle:before {
    content: "\e929";
}
