extends ../layout/courses_template.jade

block variables
    -var courses = 'active';

    -var courseName = '3d';
    //- Контент
    //- Тип курса
    -var courseType = 'Очный курс';
    //- Заголовок
    -var courseTitle = 'Интерьер в 3ds Max - Базовый курс';
    //- Подзаголовок
    -var courseSub = 'Получи профессию 3D визуализатора с нуля за 7 недель!';
    //- Краткое описание
    -var courseDescription = 'После прохождения курса Вы сможете: Понимать принципы построения трехмерной графики, Выполнять фотореалистичные интерьеры в 3D, Интерактивно работать с интерьером, Моделировать различные предметы, Менять фактуру и цвета, Реалистично освещать интерьер, Правильно выставлять ракурсы, Выстроить продуктивный рабочий процесс, Получить свои первые заказы';
    //- Изображение курса
    -var courseImg = '/img/grfdes.png';

    //- Дата и время старта
    //- Дата
    -var courseDate = '19 сентября или 21 сентября 2019';
    //- Продолжительность
    -var courseDurationMonth = 2;
    -var courseDuration = '2 месяца, 15 занятий по 2 часа <br>или 6 занятий по 4 часа';
    //- Время занятий
    -var courseTime = 'вторникам и четвергам с 19 до 21 ч <br>или по субботам с 16 до 20 ч';

    //- Стоимость курса
    //- Стоимость до даты
    -var holiday = false;
    -var coursePromoDate = false;
    //- В рассрочку
    -var courseSemiPrice = true;
    //- Единым платежом
    -var courseTotalPrice = '16500';

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/smelkov.jpg';
    //- Имя
    -var courseCoachName = 'Артем Смелков';
    //- Регалии
    -var courseCoachExp = 'Практикующий 3D визуализатор <br> Опыт работы 12 лет.';

    //- Программа
    -var programList = [{title: "Блок 1", list: ["Выстраивание рабочего процесса. Понимание принципов трехмерной графики. Обзор рабочих программ и их настройка."]},{title: "Блок 2",list: ["Базовый инструментарий в программах. Вспомогательные функции. Построение базовых объектов. Работа с линиями."]},{title: "Блок 3",	list: ["Принципы моделирования различных объектов. Модификаторы объектов. Моделирование простых предметов. Полигональное моделирование. Моделирование и сборка интерьера."]},{title: "Блок 4", list: ["Понятие что такое текстура, какая она должна быть, способы ее создания и правильного наложения на объекты. Основы теории свойств материалов, создание реалистичного материала, библиотеки готовых материалов."]},{title: "Блок 5", list: ["Основы теории света и его различных свойств. Правильное применение света в интерьрере. Постановка и настройки света в программе. Настройка интерактивного освещения."]},{title: "Блок 6", list: ["Основы теории фотографии и различные приемы при помощи фото-эффектов. Основы композиции кадра. Постановка ракурсов в интерьере."]},{title: "Блок 7", list: ["Настройки программы и способы вывода готовых 3D изображений. Дополнительные способоы постобработки изображений для большего эффекта."]},{title: "Блок 8", list: ["Подробный разбор 3D работ студентов и ценные указания."]},{title: "Блок 9", list: ["Взаимодействие с заказчиком, Чек-листы, Тех-задание и Договор."]}];

    //- Формы
    -var vidgetId = 'VwYClIbRKqiSOv9iGxPzFceDbaSSRLHeeH';
    -var formId = 'WdgMoyklassForm3970';
