// begin footer 
footer.footer
	.container_center
		.footer__logo
			a(href="/")
				img(src="/img/logo_foot.png", alt="")
		.footer__contact
			.soc
				a.soc__item.icon-phone(href="tel:+7(992)-209-86-59") 
				a.soc__item.icon-vk(href="https://vk.com/grampus_school" onclick="gtag('event', 'openvkGroup', { 'event_category': 'VkGroup', 'event_action': 'click', });") 
		.footer__center
			a(href="#" class="link" data-toggle="modal" data-target="#privacy") Политика конфиденциальности
// end footer 