//- script(src="/js/browserDetect.js")
script(src="/js/jquery.js")
//- script(src="/js/modal.js")
script(src="/js/slick.min.js")
script(src="/js/app.js?"+versionsFront+"")

//- script.
//- 	$('select').wrap('<div class="custom-select"></div>');
//- 	customSelectInit("custom-select");
