//- script(src="/js/browserDetect.js")
script(src="/js/jquery.js")
//- script(src="/js/modal.js")
script(src="/js/slick.min.js")
script(src="/js/app.js?"+versionsFront+"")

script(type="text/javascript" src="https://vk.com/js/api/openapi.js?161")

//- VK Widget
#vk_community_messages
script(type="text/javascript").
    VK.Widgets.CommunityMessages("vk_community_messages", 31893650, {expandTimeout: "15000",disableExpandChatSound: "1",tooltipButtonText: "Есть вопрос?"});

//- script.
//- 	$('select').wrap('<div class="custom-select"></div>');
//- 	customSelectInit("custom-select");
