extends ../layout/courses_template.jade

block variables

    -var courses = 'active';

    -var courseName = 'webdesign';
    //- Контент
    //- Тип курса
    -var courseType = 'Очный курс';
    //- Заголовок
    -var courseTitle = 'Дизайн и создание сайтов';
    //- Подзаголовок
    -var courseSub = 'Получи профессию web-дизайнера с нуля за 11 недель!';
    //- Краткое описание
    -var courseDescription = 'Пройдите полный практический курс очно, с личным наставником и научитесь рисовать классные сайты от идеи до готового дизайн-макета пользуясь современными инструментами, находить заказчиков и работать задорого.';
    //- Изображение курса
    -var courseImg = '/img/web.png';

    //- Дата и время старта
    //- Дата
    -var courseDate = false;
    //- Продолжительность
    -var courseDurationMonth = 2.5;
    -var courseDuration = '2,5 месяца, 22 занятия по 2 часа';
    //- Время занятий
    -var courseTime = 'понедельникам и средам с 19 до 21 ч';

    //- Стоимость курса
    -var holiday = false;
    -var holidayText = 'Распродажа курсов ко Дню знаний!!!';
    //- Базовая стоимость
    -var courseBasePrice = 15800;
    //- Стоимость до даты
    -var coursePromoDate = '20 сентября';
    //- Единым платежом
    -var courseTotalPrice = Math.round((courseBasePrice*1)/100, 0) * 100;
    //- В рассрочку
    -var courseSemiPrice = true;

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/efim.jpg';
    //- Имя
    -var courseCoachName = 'Ефим Лопатин';
    //- Регалии
    -var courseCoachExp = 'Практикующий web-дизайнер, фрилансер <br> Опыт работы 6 лет.';

    //- Заработок после обучения
    -var earningTop = '<b class="text_primary">Ежемесячно</b> на биржах труда в России появляется <b class="text_success">свыше 2 800 новых вакансий</b> где требуются знания вэб-дизайна. <br>Работы хватает всем!';
    -var earningSumm = '55 000';
    -var earningProf = 'зарплата начинающего вэб-дизайнера';
    -var earningLink = 'https://perm.hh.ru/search/vacancy?only_with_salary=false&clusters=true&enable_snippets=true&salary=&st=searchVacancy&text=Вэб+дизайнер';

    //- Кому подойдет курс
    -var anyone = [{title: 'Новичкам', text: 'Вы можете начать курс с нулевыми знаниями в дизайне и необходимых программах. Проведем по шагам от установки программ, до первого сайта'}, {title: 'Начинающим вэб-дизайнерам', text: 'Прокачаем ваши знания в работе дизайнера. Лайвхаки, банк ресурсов, знания для поиска заказчиков. И все это под руководством опытного преподавателя.'}, {title: 'Художникам', text: 'Если вы давно хотели расширить свои творческие возможности, то после прохождения программы вы получите знания, которые позволят вам дополнительно монетизировать свои творческий потенциал'}]

    //- Как проходит обучение
    -var progress = [{title: 'Занятия в классе', text: 'Очные занятия в классе. На каждом Вы будете узнавать что-то новое и сразу можете получать фидбэк от наставника.'}, {title: 'Домашние задания', text: 'Уникальная система с двухуровневыми заданиями для закрепления материала.'}, {title: 'Общение', text: 'Постоянное общение с преподавателем и сокурсниками в классе и общем чате потока во время и после окончания курса.'}, {title: 'Ваше портфолио', text: 'По окончании курса у вас появится базовое портфолио из 5 личных проектов'}];

    //- Программа
    -var programList = [{title: "Блок 1. Основы", list: ["Работа с графикой, Исходники, Композиция в вебе, Теория цвета, Атмосфера, Типографика, Копирайтинг, Модульные сетки, Коллажирование, Adobe Photoshop"]},{title: "Блок 2. Проектирование",list: ["Типы сайтов, Целевая аудитория, Юзабилити, опыт взаимодействия и эмпатия, User Experience (UX), UI-киты, Элементы интерфейса, Эскиз и прототип, Навигация, многостраничные сайты, Figma"]},{title: "Блок 3. Дизайн",	list: ["Концепция, Стиль и зрелищность, Пропорции, Теория цвета, Вдохновение, Контент, Landing Page, Adaptive & Responsive, Всплывающие окна, Конструкторы сайтов, Пиктограммы, Adobe Illustrator"]},{title: "Блок 4. Практика", list: ["Офис или фриланс, Типы клиентов, Договор, бриф, ТЗ, Юридические аспекты, Презентация работы, Правильное портфолио, Работа над проектом, Командная работа, Чек-листы, Дизайн — это бизнес"]},{	title: "Блок 5. Работа с заказчиками", list: ["Работа на портфолио, Креатив, Тайм менеджмент, Видео-разборы работ, Дополнительные мастер-классы, Практика, практика и еще раз практика, Общение с клиентами, Что делать с бесконечными правками и сложными клиентами, Как работать со студиями удаленно"]}];

    //- Формы
    -var vidgetId = 'HkaZf9Z44KT95ANZlnT4MuiEeoM0wjpCc1';
    -var formId = 'WdgMoyklassForm3310';
