extends ../layout/courses_template.jade

block variables
    -var courses = 'active';

    -var courseName = 'webdesign';
    //- Контент
    //- Тип курса
    -var courseType = 'Очный курс';
    //- Заголовок
    -var courseTitle = 'Дизайн и создание сайтов';
    //- Подзаголовок
    -var courseSub = 'Получи профессию web-дизайнера с нуля за 11 недель!';
    //- Краткое описание
    -var courseDescription = 'Пройдите полный практический курс очно, с личным наставником и научитесь рисовать классные сайты от идеи до готового дизайн-макета пользуясь современными инструментами, находить заказчиков и работать задорого.';
    //- Изображение курса
    -var courseImg = '/img/web.png';

    //- Дата и время старта
    //- Дата
    -var courseDate = '23-ого сентября';
    //- Продолжительность
    -var courseDurationMonth = 2.5;
    -var courseDuration = '2,5 месяца, 22 занятия по 2 часа';
    //- Время занятий
    -var courseTime = 'понедельникам и средам с 19 до 21 ч';

    //- Стоимость курса
    //- Стоимость до даты
    -var coursePromoDate = '12 августа';
    //- Единым платежом
    -var courseTotalPrice = '16000';
    //- В рассрочку
    -var courseSemiPrice = true;

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/efim.jpg';
    //- Имя
    -var courseCoachName = 'Ефим Лопатин';
    //- Регалии
    -var courseCoachExp = 'Практикующий web-дизайнер, фрилансер <br> Опыт работы 6 лет.';

    //- Программа
    -var programList = [{title: "Блок 1. Основы", list: ["Работа с графикой, Исходники, Композиция в вебе, Теория цвета, Атмосфера, Типографика, Копирайтинг, Модульные сетки, Коллажирование, Adobe Photoshop"]},{title: "Блок 2. Проектирование",list: ["Типы сайтов, Целевая аудитория, Юзабилити, опыт взаимодействия и эмпатия, User Experience (UX), UI-киты, Элементы интерфейса, Эскиз и прототип, Навигация, многостраничные сайты, Figma"]},{title: "Блок 3. Дизайн",	list: ["Концепция, Стиль и зрелищность, Пропорции, Теория цвета, Вдохновение, Контент, Landing Page, Adaptive & Responsive, Всплывающие окна, Конструкторы сайтов, Пиктограммы, Adobe Illustrator"]},{title: "Блок 4. Практика", list: ["Офис или фриланс, Типы клиентов, Договор, бриф, ТЗ, Юридические аспекты, Презентация работы, Правильное портфолио, Работа над проектом, Командная работа, Чек-листы, Дизайн — это бизнес"]},{	title: "Блок 5. Работа с заказчиками", list: ["Работа на портфолио, Креатив, Тайм менеджмент, Видео-разборы работ, Дополнительные мастер-классы, Практика, практика и еще раз практика, Общение с клиентами, Что делать с бесконечными правками и сложными клиентами, Как работать со студиями удаленно"]}];

    //- Формы
    -var vidgetId = 'HkaZf9Z44KT95ANZlnT4MuiEeoM0wjpCc1';
    -var formId = 'WdgMoyklassForm3310';
