extends ../layout/individual_template.jade

block variables
    -var courses = 'active';

    -var courseName = 'frontend';
    //- Контент
    //- Тип курса
    -var courseType = 'Индивидуальная программа';
    //- Заголовок
    -var courseTitle = 'Разработка сайтов: HTML, CSS, jQuery';
    //- Подзаголовок
    -var courseSub = 'Научитесь скоростной и высокооплачиваемой front-end разработке сайтов с личным наставником';
    //- Краткое описание
    -var courseDescription = 'В этй программе мы предлагаем несколько вариантов обучения в зависимости от ваших навыков. <br>- Если вы только задумаваетесь начать свою деятельность как front-end разработчик - начнем с основ. <br>- Eсли уже что то умеете, скорректируем и ускорим. <br>- А если вы уже опытный front-end разработчик, но хотите зарабатывать больше чем 30 000 в месяц просиживая по 8 часов в офисе - подскажем как зарабатывать больше при меньших трудозатратах.';
    //- Изображение курса
    -var courseImg = '/img/front-i.png';


    //- Дата и время старта
    //- Дата
    -var courseDate = 'По выбранному вами графику';
    //- Продолжительность
    -var courseDuration = '10 часов очных консультаций + 2 часа онлайн';
    //- Время занятий
    -var courseTime = '';

    //- Стоимость курса
    //- Стоимость до даты
    -var coursePromoDate = false;
    //- В рассрочку
    -var courseSemiPrice = '6 700';
    //- Единым платежом
    -var courseTotalPrice = '12 000';

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/iea79.png';
    //- Имя
    -var courseCoachName = 'Евгений Иванов';
    //- Регалии
    -var courseCoachExp = 'Front-end разработчик, Топ 20 на fl.ru <br> Опыт работы 6 лет. <br>Руководитель школы Grampus.';

    //- Программа
    -var programList = [{title: "Блок 1. Основы", list: ["Технологии разработки сайтов, Назначение серверной части (бекенд), Назначение клиентской части (фронтенд)"]},{title: "Блок 2. Настройка рабочего окружения для скоростной верстки сайтов",list: ["Текстовый редактор, Плагины, сниппеты, Программы для работы с макетами, Программы для запуска сайта на компьютере"]},{title: "Блок 3. Настройка сайта",	list: ["Хостинг и домены, Работа сайта, Настройка Домена и Хостинга"]},{title: "Блок 4. HTML, HTML5", list: ["Назначение языка HTML, Структура HTML, HTML тэги, HTML шаблоны, Видео и аудио в HTML, HTML формы"]},{title: "Блок 5. Стили", list: ["CSS, CSS3, Назначение языка CSS, Связь CSS + HTML, Препроцессоры LESS и SASS(SCSS), Текст и шрифт, CSS-анимации и эффекты"]},{title: "Блок 6. jQuery - библиотека языка JS", list: ["jQuery - библиотека языка JS, Подключение jQuery плагинов, Написание jQuery скриптов, ajax запросы на сервер без обновления страницы, Онлайн калькулятор, Формы обратной связи, Валидация данных в формах"]},{title: "Блок 7. Стандарт командной работы", list: ["Командная работа над проектом, Контроль версий - Git, Сервис GitHub"]},{title: "Блок 8. Работа фрилансера", list: ["Выбор ниши (специализации), Самые прибыльные сервисы для поиска клиентов, Создание профиля, Отклики на проекты, Общение с заказчиками, Как попасть в топ по своей специализации"]}];

    //- Формы
    -var vidgetId = 'lbJYWj9PMs80IUewfjzReDFyQWEk6Wsxdf';
    -var formId = 'SiteWidgetMoyklass8861';
