extends ../layout/individual_template.jade

block variables
    -var courses = 'active';

    -var courseName = 'grafdesign';
    //- Контент
    //- Тип курса
    -var courseType = 'Индивидуальная программа';
    //- Заголовок
    -var courseTitle = 'Графический дизайн';
    //- Подзаголовок
    -var courseSub = 'Получи профессию графического дизайнера с нуля за 9 недель!';
    //- Краткое описание
    -var courseDescription = 'На курсе вы научитесь разрабатывать логотипы, упаковку, фирменный стиль, начнете разбираться в материалах и современных программах, и создадите свой первый брендбук...';
    //- Изображение курса
    -var courseImg = '/img/graf-i.png';

    //- Дата и время старта
    //- Дата
    -var courseDate = 'По выбранному вами графику';
    //- Продолжительность
    -var courseDuration = '10 часов очных консультаций + 2 часа онлайн';
    //- Время занятий
    -var courseTime = '';

    //- Стоимость курса
    //- Стоимость до даты
    -var coursePromoDate = false;
    //- В рассрочку
    -var courseSemiPrice = '6 700';
    //- Единым платежом
    -var courseTotalPrice = '12 000';

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/katya.jpg';
    //- Имя
    -var courseCoachName = 'Екатерина Кивилева';
    //- Регалии
    -var courseCoachExp = 'Корпоративный дизайнер, создатель студии Alpha <br> Опыт работы 9 лет.';

    //- Программа
    -var programList = [{title: "Блок 1", list: ["Введение в дизайн, Работа с графикой. Основы композиции, Основы теории цвета, Типографика, Модульные сетки и струны, Программа Сorel Draw, Горячие клавиши, Работа над проектом, пошаговый алгоритм"]},{title: "Блок 2",list: ["Основы брендинга, Бренд или торговая марка?, Миссия легенда и УТП, Тренды, Целевая аудитория"]},{title: "Блок 3",	list: ["Визуальная айдентика, Логотипы, Упаковка, Брендбук, логобук, гайдбук — в чем разница?, Разработка логотипа"]},{title: "Блок 4", list: ["Допечатная подготовка, Цветопроба и калибровка, Материалы, Способы печати и спецотделок, Особенности допечатанной подготовки, Тонкости и лайфхаки, Adobe Photoshop, Разработка бренд-бука, Экскурсия в типографию"]},{title: "Блок 5", list: ["Тонкости работы с заказчиком, Как себя обезопасить, Юридические вопросы, Где и как искать клиентов?, Как правильно предлагать свои услуги?, Частые проблемы и их решение, Как обезопасить себя работая на фрилансе, Правильный бриф, техзадание и договор"]},{title: "Блок 6", list: ["Правильное портфолио и чек-листы, Подача работ, Визуализация, Мокапы, Делаем свой сайт-портфолио"]}];
