extends ../layout/template.jade

block variables
	-var pageClass = "";
	-var faq = 'active';

block title
	title Вопросы и ответы - Школа веб-дизайна Grampus

block content
	a.backLink(href="/courses/") Расписание очных и онлайн курсов в школе Grampus

	h1.title.title__page 
		.title__page_name Полезная информация о курсах в школе Grampus
		.title__page_line

	.faq
		.faq__item
			h2.faq__name Где проходит обучение?
			.faq__descr
				<p>Наши курсы проходят в Перми по адресу ул.Монастырская, д.12а, оф.403. Учебный класс находится на территории офисного-центра.</p>

		.faq__item
			h2.faq__name Как проходит обучение?
			.faq__descr
				<p>Любой процесс обучения по нашему мнению должен состоять из теоретических знаний и закреплении их на практике.</p>
				<p>Как говорил один хороший человек - "Знания не пропущенные через тело, просто звук..."</p>
				<p>Исходя из этого, на занятиях вы получаете теорию и практикуетесь повоторяя за преподавателем и корректируя ошибки. После каждого занятия вам выдается домашнее задание для закрепления пройденного. После выполнения задания преподаватель проверяет его и вносит свои реккомендации пока. И так до тех пор пока зандание не будет сделано полностью.</p>

		.faq__item
			h2.faq__name В какое время проходят занятия и какова их длительность?
			.faq__descr
				<p>Понимая, что большинство наших слушателей работает, учится в ВУЗах или занято ведением домашнего хозяйства и воспитанием детей, наша школа открывает учебные группы и проводит занятия не только по будням, но и по выходным. Для примера вы можете ознакомится с <a href="/raspisanie/">расписанием обучения</a>.</p>
				<p> Длительность одного занятия составляет от 2 или 4 часа.</p>

		.faq__item
			h2.faq__name Какое количество учащихся в группе?
			.faq__descr
				<p>Количество учащихся в одной группе не более 12 человек(в среднем 6-8).</p>
				<p>Ограничение обусловлено комфортной вместимостью класса, что для нас важно.</p>

		.faq__item
			h2.faq__name Оборудован ли класс компьютерами, или нужно носить свой?
			.faq__descr
				<p>Учебный класс оборудованы компьютерной техникой, но чаще всего наши студенты работают на своей, что как показывает практика значительно удобней. Как варинат вы можете пользоваться нашей техникой, а свои наработки носить на флэшке.</p>

		.faq__item
			h2.faq__name Что будет если я не смогу посетить како-либо занятие?
			.faq__descr
				<p>Не переживайте, мы ведем записи каждого занятия и выкладываем записи в группу в течении суток после проведения занятия.</p>
				<p>Так же все видео будут доступны и после окончания обучения.</p>

		.faq__item
			h2.faq__name Выдаете ли вы сертификаты/дипломы после окончания курса?
			.faq__descr
				<p>Да, мы выдаем вам именной сертификат о том, что вы прошли курс повышения квалификации п выбранной вами дисциплине.</p>

		.faq__item
			h2.faq__name Помогаете ли вы с трудоустройством после курса?
			.faq__descr
				<p>Мы стараеся настраивать наших студентов на фриланс и с удовольствием помогаем с получением первых заказов.</p>
				<p>Если же вы планируете работать в офисе, то у нас есть и такой опыт.</p>
				<p>Вообще, надо понимать что после окончания курсы мы с вами не прощаемся. Наши преподаватели всегда готовы помочь вам в вашей новой профессии словом и делом...</p>

		//- .faq__item 
			h2.faq__name 
			.faq__descr
				<p></p>

			