extends ../../layout/landing_template.jade

block title
    title Online интенсив - Javascript для верстальщика

block content

    -var price = 2500;
    //- 1 УТП + подзаголовок
    section.fScreen
        .fScreen__bg(style="background-image: url('/img/json2.jpg')")
        .fScreen__content
            .fScreen__type online интенсив
            h1.page__title <span>Javascript</span> для верстальщика
            h2.page__subtitle <span>Прокачка</span> только самых нужных навыков <span>для работы в командах</span> и получения <span>дорогих заказов</span> на простых и понятных примерах с практическими задачами.

            //- script(src="//senler.ru/dist/web/js/senler.js?5")
            //- script try {Senler.ButtonSubscribe("senlerBtn-1570712316-2");} catch (e) {console.log(e);}
            //- button.btn.btn_senler(type="button" id="senlerBtn-1570712316-2" data-vk_group_id="31893650" data-subscription_id="475271" data-text="Участвовать бесплатно" data-alt_text="" onclick="gtag('event', 'openForm', { 'event_category': 'intensivSubscribe', 'event_action': 'click', });")
            button.btn.btn_primary.btn_senler(type="button" data-name="Записаться на интенсив" data-link="https://vk.com/app5898182_-31893650#s=475271&force=1" onclick="gtag('event', 'openForm', { 'event_category': 'intensivSubscribe', 'event_action': 'click', });") Участвовать бесплатно
            // Дата и время
            .fScreen__date 21, 23, 25 и 27 октября
            .fScreen__time занятия по вечерам в 17:00 (мск). <br>Продолжительность занятия ~1,5 часа


    //- Преимущества
    section.advantage
        .container_center
            h2.page__title Для кого этот интенсив?

            ul.advantage__list
                li Вы хорошо верстаете, но фразы "написать калькулятор", "массивы", "Ajax" вас останавливают от того, чтобы взяться за проект?
                li Вы хотите браться за более сложные и дорогоие проекты, но вам не хватает знаний?
                li Вы хотите углубить свои знания в разработке сайтов, но не знаете с чего начать?

            p 
                span Тогда этот интенсив для вас!

    //- Преимущества
    section.advantage
        .container_center
            h2.page__title Что вы получите?
            p По опыту - <span>навыки работы с js</span> один из самых <span>востребованных</span> и <span>дорогих</span> при работе верстальщика. 
            p
                b Что будет на интенсиве:
            ul.advantage__list
                li Отфильтруем только необходиме знания для работы верстальщика на реальных проектах
                li Разберемся с основами (функции, переменные, операторы и др.) 
                li Разберемся с тем что такое база данных, из чего состоит, как с ней работать и зачем все это знать верстальщику
                li Научимся писать красивый, структурированный и понятный код
                li Научимся работать с данными которые программисты передают вам с сервера и формировать из них готовый HTML
                li Научимся создавать пагинацию и подгружать(а не просто скрывать/показывать) дополнительные блоки на странице
                li Научимся работать с одностраничными приложениями где данные на страницы меняются без перезагрузки страницы
                li Значительно повысим понимание разработки сатов в целом (то чего не хватает многим верстальщикам на фрилансе)
                li и это далеко не все...
            p В итоге вы получаете <span>значительное конкурентное преимущество</span> перед многими html-верстальщиками и как результат <span>больше зарабатываете</span>. И приятным бонусом - <span>углубленное понимание процесса разработки</span> сайта и взаимодействия с программистами.

    section.programm
        .container_center
            h2.page__title В программе:
            ul.programm__list
                li
                    .programm__day День 1
                    .programm__name "Вспоминаем основы js(jQuery)"
                    ul.programm__point
                        li переменные
                        li операторы
                        li функции, аргументы, callback
                        li циклы
                        li массивы
                        li консоль
                        li вывод результатов в html
                li
                    .programm__day День 2
                    .programm__name "Принципы работы с БД"
                    ul.programm__point
                        li структура
                        li наполнение
                        li получаем данные в формате JSON
                        li разбираем JSON
                        li браузерные инструменты
                li
                    .programm__day День 3 и 4
                    .programm__name "Объединяем воедино"
                    ul.programm__point
                        li AJAX
                        li отправка запросов на сервер
                        li получение и разбор ответов от сервера
                        li вывод в текущую верстку
                        li обновление без перезагрузки
                        li простая пагинация
                        li выпадающий список при поиске
                        li фильтрация

            p Формат занятий - вэбинар с "живым" общением с преподавателем


            .programm__action

                //- script try {Senler.ButtonSubscribe("senlerBtn-1570712316-3");} catch (e) {console.log(e);}
                button.btn.btn_primary.btn_senler(type="button" data-name="Записаться на интенсив" data-link="https://vk.com/app5898182_-31893650#s=475271&force=1" onclick="gtag('event', 'openForm', { 'event_category': 'intensivSubscribe', 'event_action': 'click', });") Участвовать бесплатно
                .programm__mess Первый день для всех бесплатно!


    section.review
        .container_center
            h2.page__title Отзывы с прошлого интенсива

            .review__list#jsReview



    section.programm
        .container_center
            h2.page__title Результат интенсива

            .programm__info
                .programm__final
                    h3 Страница как на скрине 
                        span.sm ниже с:
                        span.xl справа с:
                    ul
                        li Ajax загрузкой товаров из БД
                        li Подгрузкой дополнительных товаров при нажатии на кнопку 
                        li Подгрузкой деталей товара с описанием во всплывающее окно
                        li Фильтром товаров через поисковую строку с выпадающим списком
                        li Добавлением товаров в корзину c сохранением на стороне клиента и последующим просмотром

                .programm__img
                    img(src="/img/json3.png", alt="alt")

    //- Ведущий
    section.trainer
        .container_center
            h2.page__title Ведущий интенсива
            .trainer__img
                img(src="/img/leading/iea79.png", alt="alt")
            .trainer__name Евгений Иванов
            .trainer__descr Всем привет!
                //- br
                //- |Меня зовут Евгений, я буду вести интенсив.
                br
                |Я профессиональный верстальщик. Версткой занимаюсь с 2010 года. Как фрилансер тружусь с 2013-ого.
                br
                |Сейчас вхожу в топ 20 по своей специализации на крупнейшей бирже фрилансеров Росии и СНГ - fl.ru
                br
                |Чтобы не быть голословным, вот ссылка на мой профиль - 
                a(href="https://www.fl.ru/users/iea791/") "тыц"
                br
                |Естественно так было не всегда 😉
                br
                |И мне однозначно есть чем с вами поделиться.
                br
                |Приходите, будет интересно!
            //- .trainer__descr владелец школы GRAMPUS, преподаватель, ТОП 20 по специализации верстка на крупнейшей бирже фриланса 
                a(href="https://www.fl.ru/users/iea791/") fl.ru
                |, опыт в верстке с 2010 года, фрилансер с 2013 года.

    section.info
        .container_center
            h2.page__title Попробовать бесплатно
            .info__advantage
                div.pay__info 
                    b Вы можете записаться на первый день нашего интенсива абсолютно бесплатно!
                    //- a(href="https://vk.com/app5898182_-31893650#s=475271") Записаться сейчас
                    //- a.btn.btn_success.js_free(href="https://vk.com/app5898182_-31893650#s=475271" target="_blank" onclick="gtag('event', 'openForm', { 'event_category': 'intensivSubscribe', 'event_action': 'click', });") Записаться сейчас
                    //- // Senler.ru button code
                    //- script(src="//senler.ru/dist/web/js/senler.js?5")
                    //- script try {Senler.ButtonSubscribe("senlerBtn-1570712316");} catch (e) {console.log(e);}
                    button.btn.btn_primary.btn_senler(type="button" data-name="Записаться на интенсив" data-link="https://vk.com/app5898182_-31893650#s=475271&force=1" onclick="gtag('event', 'openForm', { 'event_category': 'intensivSubscribe', 'event_action': 'click', });") Участвовать бесплатно
                    small * Для записи нужен аккаунт Вконтакте
            p.pay__next Или записаться на весь интенсив по сниженной цене
                span &crarr;

    //- 3 Стоимость
    section.pay#pay
        .container_center
            h2.page__title Записаться на интенсив
            .pay__content
                .pay__advantage
                    ul.advantage__list
                        b В стоимость включено:
                        li 4 дня погружения в работу с Javascript и jQuery
                        li Более чем на 10 часов практической работы
                        li Видео-записи всех дней интенсива
                        li Неограниченная поддержка от ведущего во время и после окончания интенсива!!!
                    p.pay__price Стоимость для первых 15-и участников 
                        span.pay__priceSumm
                            b 4 000 руб.
                            | 
                            | #{price} руб.
                    //- p.pay__next Хотите узнать как стартануть бесплатно? 
                    //- span &crarr;
                .pay__form
                    form.form(action="https://money.yandex.ru/eshop.xml" method="post")
                        input(name="shopId" value="597204" type="hidden" required)
                        input(name="scid" value="959623" type="hidden" required)
                        input(id="customerNumber" name='customerNumber' type="hidden" value='Интенсив - Javascript для верстальщиков' required)
                        input(id='sum' name='sum' value= price type='hidden' min='1' placeholder='Сумма платежа' required)
                        input(name='shopSuccessURL' value='https://grampus-school.ru/frontend/intensive/success.html' type='hidden' min='1' required)
                        .form__title Оплатить весь интенсив по сниженной цене
                        small Осталось 6 мест по сниженной цене
                        br
                        .form__row
                            label.form__label(for="custName") Введите ваши ФИО*
                            input(id="custName" name='custName' type="text" value='' placeholder='Например: "Иванов Иван Иванович"' required)
                        .form__row
                            label.form__label(for="custAddr") Введите ваш email или телефон*
                            input(id="custAddr" name='custAddr' type="text" value='' placeholder='Например: "+7(992)209-86-59"' required)
                        .form__action
                            input.btn.btn_primary(type='submit' value='Оплатить')

block pageScript
    script(src="/js/lp.js")
