extends ../../layout/template.jade

block title
    title Вы записались на online интенсив - Javascript для верстальщика

block content
    .txt_center
        h2 Спасибо! 
            br
            |Вы успешно записались на интенсив "Javascript для верстальщика".
        p Осталось всего пара шагов.
        p 
            b ШАГ 1. 
            |Напишите нам в группу 
            a(href="https://vk.com/grampus_school" target="blank") Вконтакте 
            |что вы оплатили интенсив и чтобы ваш платеж не затерялся.
        p 
            b ШАГ 2. 
            |Вступайте в 
            a(href="https://vk.me/join/AJQ1d/unOBXrZ/P550KY/E2Z" target="blank") групповой чат интенсива
            |. <br>Ближе к началу мероприятия в группе будет подробная информация по интенсиву.
