extends ../layout/courses_template.jade

block variables
    -var courses = 'active';

    -var courseName = 'grafdesign';
    //- Контент
    //- Тип курса
    -var courseType = 'Очный курс';
    //- Заголовок
    -var courseTitle = 'Графический дизайн';
    //- Подзаголовок
    -var courseSub = 'Получи профессию графического дизайнера с нуля за 9 недель!';
    //- Краткое описание
    -var courseDescription = '2 месяца прокачки в дизайне с полного нуля. Все что нужно - это компьютер и ваше желание. Неважен возраст и образование.';
    //- Изображение курса
    -var courseImg = '/img/grfdes.png';

    //- Дата и время старта
    //- Дата
    -var courseDate = 'запись начнется в октябре 2019';
    //- Продолжительность
    -var courseDurationMonth = 2;
    -var courseDuration = '2 месяца, 9 занятий по 4 часа';
    //- Время занятий
    -var courseTime = 'воскресеньям с 14 до 18 ч';

    //- Стоимость курса
    -var holiday = false;
    -var holidayText = 'Распродажа курсов ко Дню знаний!!!';
    //- Базовая стоимость
    -var courseBasePrice = '14100';
    //- Стоимость до даты
    -var coursePromoDate = false;
    //- Единым платежом
    -var courseTotalPrice = courseBasePrice*1;
    //- В рассрочку
    -var courseSemiPrice = true;

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/katya.jpg';
    //- Имя
    -var courseCoachName = 'Екатерина Кивилева';
    //- Регалии
    -var courseCoachExp = 'Корпоративный дизайнер, создатель студии Alpha <br> Опыт работы 9 лет.';

    //- Заработок после обучения
    -var earningTop = 'Ежемесячно на биржах труда в России появляется свыше 2 600 новых вакансий где требуются знания дизайна. Работы хватает всем!';
    -var earningSumm = '40 000';
    -var earningProf = 'зарплата начинающего графического дизайнера';
    -var earningLink = 'https://hh.ru/search/vacancy?clusters=true&enable_snippets=true&text=%D0%93%D1%80%D0%B0%D1%84%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9+%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD%D0%B5%D1%80&showClusters=false';

    //- Кому подойдет курс
    -var anyone = [{title: 'Новичкам', text: 'Вы можете начать курс с нулевыми знаниями в дизайне и необходимых программах. Проведем по шагам от установки программ, до первого брэндбука'}, {title: 'Начинающим дизайнерам', text: 'Прокачаем ваши знания в работе графического дизайнера. Лайвхаки, банк ресурсов, знания для поиска заказчиков. И все это под руководством опытного преподавателя.'}, {title: 'Художникам', text: 'Если вы давно хотели расширить свои творческие возможности, то после прохождения программы вы получите знания, которые позволят вам дополнительно монетизировать свои творческий потенциал'}]

    //- Как проходит обучение
    -var progress = [{title: 'Занятия в классе', text: 'Очные занятия в нашем уютном классе с чаем и конфетками. На каждом вы будете узнавать что-то новое и сразу сможете получать помощь и ответы от преподавателя'}, {title: 'Домашние задания', text: 'После каждого занятия вам будет выдаваться практическое домашнее задание, после выполнения которого, преподаватель дает свои рекомендации каждому.'}, {title: 'Общение', text: 'Постоянное общение с преподавателем и сокурсниками в классе и общем чате потока во время и после окончания курса.'}, {title: 'Выпускной проект', text: 'Профессиональный выпускной проект по созданию брэндбука в печатном и электронном виде для вашего портфолио'}];

    //- Программа
    -var programList = [{title: "Блок 1. CorelDraw", list: ["Что это и как им пользоваться. Изучаем всю базу программы. От открытия до сохранения готового макета и подготовки в печать. Разбор всех используемых инструментов."]},{title: "Блок 2. Визуальная коммуникация и основы композиции",list: ["Научимся подбирать шрифты, фотографии, геометрию. Научимся правильно распределять объекты на макете. Про визуальный баланс, симметрию, иерархию. Психология влияния цвета, основные приемы. Расскажем как сделать, чтобы твой текст читался. Все, чтобы дизайн смотрелся гармонично и в тему."]},{title: "Блок 3. Фирменный стиль и работа над проектом",	list: ["Даем пошаговый алгоритм работы над проектом. Расскажем об основах брендинга. Разбираем что такое – визуальная айдентика, логотипы, упаковка, брендбук, логобук, гайдбук — выясним в чем разница."]},{title: "Блок 4. Типография и подготовка в печать", list: ["Допечатная подготовка, цветопроба и калибровка. Материалы, способы печати и спецотделок. Тонкости и лайфхаки. Экскурсия в типографию."]},{title: "Блок 5. Практика, Практика, Практика", list: ["Вы создаете логотип. Разрабатываете константы его использования. Цветовая гамма и патерн для фирменного стиля. Элементы фирменного стиля: визитка, стикер, бланк, конверт, упаковка и прочее. Дизайн-приемы. Разбираем основные фишки и тренды в дизайне."]},{title: "Блок 6. Поиск заказов. Коммуникация с заказчиком", list: ["Разберем бесплатные и платные методы поиска клиентов. Частые проблемы и их решение: тонкости работы с заказчиком, как себя обезопасить, юридические вопросы, как правильно предлагать свои услуги? Правильный бриф, техзадание, договор, прайс на работы. Правильное портфолио и чек-листы, подача работ, визуализация, мокапы."]}];

    -var keyskills = ['Анализ целевой аудитории', 'Разработка концепта бренда', 'Создание логотипа', 'Разработка фирменного стиля', 'Составление и верстка брендбука', 'Разработка макетов для рекламных носителей', 'Предпечатная подготовка'];

    //- Формы
    -var vidgetId = 'CXkqeDCMX8FvWrmLo6S8NrzRNRxVgSfuCO';
    -var formId = 'WdgMoyklassForm3464';
