extends ../layout/courses_template.jade

block variables
    -var courses = 'active';

    -var courseName = 'grafdesign';
    //- Контент
    //- Тип курса
    -var courseType = 'Очный курс';
    //- Заголовок
    -var courseTitle = 'Графический дизайн';
    //- Подзаголовок
    -var courseSub = 'Получи профессию графического дизайнера с нуля за 9 недель!';
    //- Краткое описание
    -var courseDescription = '2 месяца прокачки в дизайне с полного нуля. Все что нужно - это компьютер и ваше желание. Неважен возраст и образование.';
    //- Изображение курса
    -var courseImg = '/img/grfdes.png';

    //- Дата и время старта
    //- Дата
    -var courseDate = '8-ого сентября';
    //- Продолжительность
    -var courseDurationMonth = 2;
    -var courseDuration = '2 месяца, 9 занятий по 4 часа';
    //- Время занятий
    -var courseTime = 'воскресеньям с 14 до 18 ч';

    //- Стоимость курса
    //- Стоимость до даты
    -var coursePromoDate = '19 августа';
    //- В рассрочку
    -var courseSemiPrice = true;
    //- Единым платежом
    -var courseTotalPrice = '14600';

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/katya.jpg';
    //- Имя
    -var courseCoachName = 'Екатерина Кивилева';
    //- Регалии
    -var courseCoachExp = 'Корпоративный дизайнер, создатель студии Alpha <br> Опыт работы 9 лет.';

    //- Программа
    -var programList = [{title: "Блок 1. CorelDraw", list: ["Что это и как им пользоваться. Изучаем всю базу программы. От открытия до сохранения готового макета и подготовки в печать. Разбор всех используемых инструментов."]},{title: "Блок 2. Визуальная коммуникация и основы композиции",list: ["Научимся подбирать шрифты, фотографии, геометрию. Научимся правильно распределять объекты на макете. Про визуальный баланс, симметрию, иерархию. Психология влияния цвета, основные приемы. Расскажем как сделать, чтобы твой текст читался. Все, чтобы дизайн смотрелся гармонично и в тему."]},{title: "Блок 3. Фирменный стиль и работа над проектом",	list: ["Даем пошаговый алгоритм работы над проектом. Расскажем об основах брендинга. Разбираем что такое – визуальная айдентика, логотипы, упаковка, брендбук, логобук, гайдбук — выясним в чем разница."]},{title: "Блок 4. Типография и подготовка в печать", list: ["Допечатная подготовка, цветопроба и калибровка. Материалы, способы печати и спецотделок. Тонкости и лайфхаки. Экскурсия в типографию."]},{title: "Блок 5. Практика, Практика, Практика", list: ["Вы создаете логотип. Разрабатываете константы его использования. Цветовая гамма и патерн для фирменного стиля. Элементы фирменного стиля: визитка, стикер, бланк, конверт, упаковка и прочее. Дизайн-приемы. Разбираем основные фишки и тренды в дизайне."]},{title: "Блок 6. Поиск заказов. Коммуникация с заказчиком", list: ["Разберем бесплатные и платные методы поиска клиентов. Частые проблемы и их решение: тонкости работы с заказчиком, как себя обезопасить, юридические вопросы, как правильно предлагать свои услуги? Правильный бриф, техзадание, договор, прайс на работы. Правильное портфолио и чек-листы, подача работ, визуализация, мокапы."]}];

    //- Формы
    -var vidgetId = 'CXkqeDCMX8FvWrmLo6S8NrzRNRxVgSfuCO';
    -var formId = 'WdgMoyklassForm3464';
