extends ../layout/courses_template.jade

block variables

    -var courses = 'active';

    -var courseName = 'designpresent';
    //- Контент
    //- Тип курса
    -var courseType = 'Очный практикум';
    //- Заголовок
    -var courseTitle = 'Дизайн коммерческих презентаций';
    //- Подзаголовок
    -var courseSub = 'Прокачаем основы дизайна, научимся создавать креативные презентации';
    //- Краткое описание
    -var courseDescription = 'На практикуме взглянем на дизайн с другой стороны и закрепим основы дизайна - цвет, контраст, расположение и прочее. Сделаем сочные презентации, поймем как делать креативные слайды и решим стандартные задачи нестандартным путем. Введем в курс нового направления - дизайн презентаций. <br><b>Для кого будет полезно: <br>Джуниор-дизайнеры, маркетологи, менеджеры проектов</b>';
    //- Изображение курса
    -var courseImg = '/img/web.png';

    //- Дата и время старта
    //- Дата
    -var courseDate = '22-ого июля';
    //- Продолжительность
    -var courseDurationMonth = 1;
    -var courseDuration = '1 месяц, 8 занятия по 2 часа';
    //- Время занятий
    -var courseTime = 'понедельникам и средам с 19 до 21 ч';

    //- Стоимость курса
    -var payWeak = true;
    //- Стоимость до даты
    -var coursePromoDate = false;
    //- В рассрочку
    -var courseWeakPrice = '2100';
    //- Единым платежом
    -var courseTotalPrice = '7500';

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/efim.jpg';
    //- Имя
    -var courseCoachName = 'Ефим Лопатин';
    //- Регалии
    -var courseCoachExp = 'Многопрофильный дизайнер, фрилансер <br> Опыт работы 6 лет.';

    //- Программа
    -var programList = [{title: "Блок 1. Закрепление основ дизайна (2-е недели)", list: ["Негласные правила и общепризнанные законы. Немного теории о том что такое дизайн и почему это не просто красиво нарисованные фигуры. На примерах рассмотрим и закрепим виды, вариации и способы применения дизайна в его разных дисциплинах. <br><br><b>Темы в модуле:</b> <br>1. Дизайн - не визуальное искусство <br>2. Правило «внутреннего и внешнего» <br>3. Стилистические приемы в дизайне <br>4. Тенденции в дизайне <br>5. Сетки, композиция, модули <br>6. Типографика <br>7. Цвет <br>8. Вкус и чувство стиля <br>9. Тени <br>10. Дизайн-мышление"]},{title: "Блок 2. Рекламная графика (Junior level) (3-я неделя)",list: ["Новые приемы в фотошопе, а так же самодельный мокап, плакат и сочный рекламный креатив. В этом блоке есть возможность создать любой интересующий вас проект, замысел или посыл оформить его в стиль и презентовать. Это может быть визуализация нового концерта или продажа нового продукта или стартапа - тут можно не скрывать творческие порывы. <br><br><b>Темы в модуле:</b> <br>1. Инструменты для работы <br>2. Сделать свой мокап <br>3. Работа со смыслами <br>4. Визуалзация проекта  <br>5. Рекламная графика"]},{title: "Блок 3. Создание креативных слайдов для презентаций (4-ая неделя)",	list: ["Изучим новые инструменты для создания завораживающих презентаций. Полезный навык как для менеджеров, так и для маркетологов и даже джуниор-дизайнеров, чтобы продать услуги или продукт. <br><br><b>Темы в модуле:</b>  <br>1. Презентация с чистого слайда <br>2. Структура презентации <br>3. Тенденции в дизайне презентаций <br>4. Смысловая подача материала <br>5. Референсы для презентаций <br>6. Копирайтинг на слайдах <br>7. Работа с текстом и типографика <br>8. Работа с таблицами и данными <br>9. Анимации, переходы, мокапы, видео и интерактив"]}];

    //- Формы
    -var vidgetId = 'WcsYNleAeNug6tzTAoETRoCrFQH2i4zv3f';
    -var formId = 'SiteWidgetMoyklass20680';
