extends ../layout/courses_template.jade

block variables
    -var courses = 'active';

    -var courseName = 'polygraphy';
    //- Контент
    //- Тип курса
    -var courseType = 'Очный курс';
    //- Заголовок
    -var courseTitle = 'CorelDRAW базовый уровень';
    //- Подзаголовок
    -var courseSub = 'Поможем освоить CorelDRAW за месяц!';
    //- Краткое описание
    -var courseDescription = 'Курс подойдет как новичкам в дизайне, так и тем, кто желает повысить свои знания и оптимизировать рабочий процесс, обучиться приемам и тонкостям при работе с популярнейшим векторным редактором';
    //- Изображение курса
    -var courseImg = '/img/polygraphy.png';

    //- Дата и время старта
    //- Дата
    -var courseDate = false;
    //- Продолжительность
    -var courseDurationMonth = 1;
    -var courseDuration = '1 месяц, 4 занятия по 4 часа';
    //- Время занятий
    -var courseTime = 'субботам с 12 до 16 ч';

    //- Стоимость курса
    //- Стоимость до даты
    -var coursePromoDate = '1-ого июля';
    //- В рассрочку
    -var courseSemiPrice = false;
    //- Единым платежом
    -var courseTotalPrice = '7500';

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/oksana.jpg';
    //- Имя
    -var courseCoachName = 'Оксана Куликова';
    //- Регалии
    -var courseCoachExp = 'Дизайнер-практик. <br> Опыт в профессии более 11 лет.';

    //- Программа
    -var programList = [{title: "Блок 1", list: ["Векторная графика СorelDRAW, Возможности векторной и растровой графики. Разница между цветовыми моделями RGB и CMYK. Основные настройки. Панель инструментов. Горячие клавиши. Работа с растровыми изображениями."]},{title: "Блок 2",list: ["Работа с текстом, Подбор шрифта. Новое в CorelDRAW Graphics Suite 2018. Клипарт. Поиск материала. Ключевые принципы создания макетов."]},{title: "Блок 3",	list: ["Основы композиции в дизайне, Выравнивание. Создание паттерна. Шрифтовой плакат/ шрифтовые композиции. Цветовая палитра. Мудборд. Дизайн цитаты. Типографика."]},{title: "Блок 4", list: ["Что такое айдентика?, Оформление сообществ в социальных сетях. Размер имеет значение, подготовка макета. Создание непрерывной ленты в Инстаграм."]}];

    //- Формы
    -var vidgetId = 'xJkcjjTzpukKjJGZ1xKqF8k58ImWeqLOGw';
    -var formId = 'SiteWidgetMoyklass19707';
