extends ../layout/courses_template.jade

block variables
    -var courses = 'active';

    -var courseName = 'polygraphy';
    //- Контент
    //- Тип курса
    -var courseType = 'Очный курс';
    //- Заголовок
    -var courseTitle = 'Рекламный и полиграфический дизайн';
    //- Подзаголовок
    -var courseSub = 'Научись зарабатывать на создании рекламного дизайна с нуля за 9 недель!';
    //- Краткое описание
    -var courseDescription = 'Курс подойдет как новичкам в дизайне, так и тем, кто желает повысить свои знания и оптимизировать рабочий процесс, обучиться приемам и тонкостям при подготовке макетов к печати.';
    //- Изображение курса
    -var courseImg = '/img/polygraphy.png';

    //- Дата и время старта
    //- Дата
    -var courseDate = '30-ого марта';
    //- Продолжительность
    -var courseDuration = '2 месяца, 9 занятий по 4 часа';
    //- Время занятий
    -var courseTime = 'субботам с 12 до 16 ч';

    //- Стоимость курса
    //- Стоимость до даты
    -var coursePromoDate = '25-ого марта';
    //- В рассрочку
    -var courseSemiPrice = '8 000';
    //- Единым платежом
    -var courseTotalPrice = '14 600';

    //- Преподаватель
    //- Имя
    -var courseCoachPhoto = '/img/leading/oksana.jpg';
    //- Имя
    -var courseCoachName = 'Оксана Куликова';
    //- Регалии
    -var courseCoachExp = 'Дизайн наружной рекламы, дизайн полиграфии. <br> Опыт работы 11 лет.';

    //- Программа
    -var programList = [{title: "Блок 1", list: ["Векторная графика СorelDRAW. Разница между цветовыми моделями RGB и CMYK. Основные настройки. Панель инструментов. Горячие клавиши. Новое в CorelDRAW Graphics Suite 2018. Работа с растровыми изображениями. Трассировка."]},{title: "Блок 2",list: ["Работа с текстом. Подбор шрифта. Клипарт. Поиск материала. Календарная сетка. Таблицы. Ключевые принципы создания макетов."]},{title: "Блок 3",	list: ["Растровая графика Adobe Photoshop. Размер изображений и разрешение. Горячие клавиши. Необходимый минимум. Удаление лишних элементов. Замена фона. Ретушь."]},{title: "Блок 4", list: ["Полезные лайфхаки и приёмы. Разбор ошибок. Техническое задание. Предпечатная подготовка. Материалы."]},{title: "Блок 5", list: ["Логотип и фирменный стиль. Оформление портфолио. Стоимость работ. Психология работы с клиентом."]}];

    //- Формы
    -var vidgetId = 'I6oROaKH6DZPziH9DTZB4oYRbEGfqd1dt1';
    -var formId = 'WdgMoyklassForm3939';
